* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', 'Myriad Pro', 'Arial', serif;
  width: 100vw;
  overflow-x: hidden;
}

::placeholder {
  color: #ffffff;
  text-align: center;
}

:-ms-input-placeholder {
    color: #ffffff;
    text-align: center;
}

::-ms-input-placeholder {
    color: #ffffff;
    text-align: center;
}

h1 {
  margin: 0;
}

#nav {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 16px;
  justify-content: space-between;
  background: #ffffff;
}

#nav > a {
  color: #007e7a;
  text-decoration: none;
  -webkit-transition: color .3s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color .3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color .3s cubic-bezier(0.19, 1, 0.22, 1);
}

#nav > a:visited {
  text-decoration: none;
  color: #007e7a;
}

#nav > a:hover, #nav > a:active {
  color: #049e70;
}

#logo > img {
  width: 150px;
}

main.login {
  width: 100vw;
  height: calc(100vh - 100px);
  background: #007e7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#title > h1 {
  color: #ffffff;
  font-size: 4rem;
}

#title > h2 {
  color: #ffffff;
}

#formLogin > form > div {
  padding: 16px 0;
}

#formLogin > form > div input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
  padding: 16px 0px;
  color: #ffffff;
  border-radius: 0;
  text-align: center;
}

#formLogin > form > div input:focus {
  border-width: 2px;
  padding-bottom: 15px;
}

#formLogin > form > div > button {
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
  padding: 16px;
  position: relative;
  transition: border-color .3s cubic-bezier(0.19, 1, 0.22, 1);
}

#formLogin > form > div > button:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  border-bottom: 2px solid #fff;
  transition: transform .3s ease-in-out;
  transform-origin: 0% 0%;
}

#formLogin > form > div > button:hover {
  cursor: pointer;
  border-color: transparent;
}

#formLogin > form > div > button:hover:after {
  transform: scaleX(1);
}

#pulseCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 200px;
  height: 200px;
  z-index: -1;
}

#pulseCircle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #007e7a;
  border-radius: 10000px;
  transition: all .3s ease-in;
  animation: pulseIncrease 3s forwards ease-in-out;
  will-change: transform;
}

@keyframes pulseIncrease {
  0% {
    transform: scale(.8);
  }
  25% {
    transform: scale(1)
  }
  50% {
    transform: scale(.8);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(10);
    border-radius: 0;
    z-index: -1;
    pointer-events: none;
  }
}

.fullFrame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  /* overflow-y: hidden; */
}

.titleMain {
  padding: 16px;
  color: #ffffff;
  text-align: center;
}

#graphs {
  padding-top: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform .3s ease-in;
  animation: showGraphs 1s 3s forwards cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  z-index: 100;
}

#graphs > iframe {
  /* border: 1px solid #eaeaea; */
}

@keyframes showGraphs {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    /* background: #eaeaea; */
  }
}

